body {
font-family: 'Roboto', sans-serif;
color:#434455;
background-color:#ffffff;
}

a {
text-decoration: none;
}

ul,ol {
list-style: none;
}

/* Page Header */
.logo {
color:#4D5AE5;
font-family:Raleway, sans-serif;
font-size:18px;
font-weight:700;
line-height:1.17;
letter-spacing:0.03em;
text-transform:uppercase;
}

.logo-part {
    color:#2e2f42;
}

.nav-link {
    color:#2E2F42;
    font-size: 16px;
     font-weight: 500;
     line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
color:#404BBF;
}
      
.address {
    font-style:normal;
}

.address-link {
    color:#434455;
    font-size:16px;
    line-height:1.5;
    letter-spacing:0.02em;
}
.address-link:hover,
.address-link:focus {
    color:#404BBF;
}


/* Hero section */
.hero-section {
background-color:#2E2F42;
}

.hero-section-title {
    font-weight:700;
    font-size:56px;
    line-height:1.07;
    text-align:center;
    letter-spacing:0.02em;
    color:#ffffff;
}
.hero-section-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:white;
    background: #4d5ae5;
}
.hero-section-button:hover,
.hero-section-button:focus {
    background-color:#404BBF;
    color:#ffffff ;
    cursor:pointer;
}


/* Our advantages */
.our-advantages {
    font-weight:500;
    font-size:20px;
    line-height:1.2;
    letter-spacing:0.02em;
    color:#2e2f42;
}

.our-advantages-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Our team */
.our-team {
background-color:#F4F4FD;
}
.our-team-title {
    font-weight: 700;
    font-size:36px;
    line-height:1.11;
    letter-spacing:0.02em;
    text-transform:capitalize;
    text-align:center;
    color:#2e2f42;
}
.our-team-list {
background-color:#ffffff;
}

.our-team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align:center;
    color: #2e2f42;
    background-color: #ffffff;
}

.our-team-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* Our portfolio */
.our-portfolio {
    font-weight:700;
    font-size: 36px;
    line-height:1.11;
    letter-spacing:0.02em;
    text-transform:capitalize;
    text-align:center;
    color:#2e2f42;
}

.our-portfolio-title {
    font-weight:500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.our-portfolio-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */
.footer {
background-color: #2E2F42;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height:1.5;
    letter-spacing:0.02em;
    color:#f4f4fd;
}

.footer-logo {
color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }

    .footer-logo-part {
    color: #f4f4fd;
    }